{% extends "base.html.twig" %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1 class="display-4 text-center my-4">Création d'un article</h1>

    {# Réaliser un formulaire HTML correspondant à la table article (sauf id et createdAt) #}

    {# <form method="post" class="col-md-8 mx-auto">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="content">Contenu</label>
            <textarea type="text" class="form-control" id="content" name="content"></textarea>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
        
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form> #}

    {# {{ form(formArticle) }} #}
    {# {{ form_label(formArticle.title, 'Titre') }} #}

    {{ form_start(formArticle, {'attr': {'class': 'col-md-7 mx-auto'} }) }}

        {{ form_row(formArticle.title, { 'attr': {'placeholder': "Titre de l'article"} }) }}

        {{ form_row(formArticle.category) }}

        {{ form_row(formArticle.content, { 'attr': {'placeholder': "Contenu de l'article", "rows": 15} }) }}

        {{ form_row(formArticle.image, { 'attr': {'placeholder': "URL de l'image"} }) }}

        <button type="submit" class="btn btn-primary mb-4">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter l'article
        {% endif %}
        </button>

    {{ form_end(formArticle) }}
    
{% endblock %}